// 项目提供scss全局变量

// 左侧的菜单宽度
$base-menu-width: 260px;
// 左侧菜单的背景颜色
$base-menu-background: #4682B4;
// 左侧菜单的最小宽度
$base-menu-min-width: 55px;
// 顶部导航的高度
$base-tabbar-height: 60px;
// 左侧菜单logo高度设置
$base-menu-logo-height: 60px;
// 左侧菜单logo右侧文字的大小
$base-logo-title-fontSize: 20px;